:root {
	--headerHeight: 4rem;
	--footerHeight: 4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	font-size: 1.6rem;
	background: rgb(34,193,195);
	background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(45,253,83,1) 100%);
}

header {
	height: var(--headerHeight);
}

main {
	min-height : calc(100vh - (var(--headerHeight) + var(--footerHeight)));
	display: grid;
	place-content: center;
	grid-template: repeat(5, 100px) / repeat(5, 100px);
	justify-items: center;
	align-items: center;
}

#refresh {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

form {
	grid-area: 4 / 5 / 5 / 2;
	display: flex;
	flex-direction: column;
	place-items: center;
}

.formBox {
	width: 30rem;
	display: flex;
	flex-direction: column;
	place-items: center;
}

.formBox input {
	border: 0;
	border-radius: 0.4rem;
}

form input[type='submit'] {
	width: 15rem;
}

.shadow {
	grid-column: 2 / 5;
	grid-row: 2 / 4;
}

#selectPkm {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
}

.pkmOption {
	display: flex;
	place-items: center;
}

footer {
	width: 100%;
	height: var(--footerHeight);
}

.signature {
	font-size: 2.4rem;
}

.centerTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

img.shadow {
	filter: contrast(15%) brightness(20%);
}

/* img.shadow:hover {
	filter: contrast(0%) brightness(10%);
}
img.shadow {
  transition: 0.5s
} */

.pkmOption *:hover {
	cursor: pointer;
}